@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Lato:ital,wght@0,400;1,300&display=swap');

/* font-family: 'Caveat', cursive;
font-family: 'Lato', sans-serif; */

body {
    margin: 10%;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #7FFFD4;
    /* font-family: 'IBM Plex Sans', sans-serif; */
}

h1, h2, h3 {
    font-family: 'Caveat', cursive;
    font-weight: 77;

}